modules = ["python-3.11", "postgresql-16"]
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Django School App"

[[workflows.workflow]]
name = "Django School App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash school_app/start.sh"

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pgadmin4", "tcl", "tk", "zlib"]

[[ports]]
localPort = 8000
externalPort = 80
