Django>=5.2,<7.0
Pillow>=10.0
reportlab>=4.0
whitenoise>=6.0
openpyxl>=3.1
qrcode>=7.4
psycopg2-binary>=2.9
python-dotenv>=1.0
django-tenants>=3.9
pyotp>=2.9
django
django-tenants
openpyxl
pillow
psycopg2-binary
pyotp
python-dotenv
qrcode
reportlab
whitenoise
